
.content-gallery{
    background:#212121;
    font-family: 'Sacramento';
    height:1200px;
}

@media only screen and (min-width:319px) and (max-width:701px) {
    .content-gallery{
        background:#212121;
        font-family: 'Sacramento';
        height:1000px;
    }
  
    
}


@media only screen and (min-width:575px) and (max-width:701px) {
    .content-gallery{
        background:#212121;
        font-family: 'Sacramento';
        height:1000px;
    }

   
}



@media only screen and (min-width:702px) and (max-width:1030px) {
    .content-gallery{
        background:#212121;
        font-family: 'Sacramento';
        height:3700px;
    }
    
}
@media only screen and (min-width:1030px) and (max-width:1399px) {
    .content-gallery{
        background:#212121;
        font-family: 'Sacramento';
        height:1800px;
    }
    
}